.box_container {
    width: 1500px;
    margin: 0px auto;
    margin-top: 70px;
    background-color: aliceblue;
    display: flex;
    
}

.box {
    float: left;
    width: 300px;
    margin: 10px;
    border: 2px black solid;
    text-align: center;
    padding: 25px;
}

img {
    border: 1px black solid;
}

#box-1 {
    background-color: goldenrod;
}

#box-1 img {
    width: 250px;
    height: 250px;
}


#box-2 {
    background-color: orangered;
}

#box-2 img {
    width: 250px;
    height: 250px;
}

#box-3 {
    background-color: teal;
}

#box-3 img {
    width: 250px;
    height: 250px;
}

#box-4 {
    background-color: cyan;
}

#box-4 img {
    width: 250px;
    height: 250px;
}