* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

body {
    background-color: whitesmoke;
    width: 1080px;
    margin: 0 auto;
}

#header {
    background-color: burlywood;
    text-align: center;
    padding: 5px;
}

#header h1 {
    text-align: center;
    color: blue;
}

#header blockquote {
    background-color: yellow;
    border: 2px dotted;
    text-align: center;
}

.nav ul {
    text-align: center;
}

.nav ul li {
    display: inline-block;
    padding-right: 10px;
    color: brown;
}

.nav ul li a{
    text-decoration:none ;
    color: blueviolet;

}

.gambar{
    text-align: center;
}

.gambar img {
    display: inline;
    width: 200px;
}

.isi {
    padding: 10px;
    text-align: justify;
}

.isi #B {
    color: blue;
    font-size: 50px;
}

.fp::first-letter {
    font-size: 50px;
    color: red;
}

.koleksi {
    text-align: center;
}

.koleksi img {
    width: 20%;
    margin: 20px;
}
