* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* Photo by John Lee: https://www.pexels.com/photo/facade-of-contemporary-skyscrapers-in-city-district-6165875/ */
    background-image: url('assets/img/bg.jpg'); 
    background-size: 100%;
}

header {
    background-color: beige;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    padding-left: 30px;
    position:sticky;
    top: 0px;
    left: 0px;
    max-width: 100%;
    height: 100px;
}

header img {
    margin-right: 20px;
    height: 80px;
    width: 80px;
}

nav {
    background-color: black;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 0;
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    background-color: whitesmoke;
    max-width: 1080px;
    margin: 0px auto;
}

article {
    background-color: whitesmoke;
    max-width: 800px;
    float: left;
    
}

article section {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

aside { 
    background-color: whitesmoke;
    max-width: 260px;
    float: left;
}

aside .photos {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: thistle;
    margin: 0px auto;
    padding: 5px;
    clear: both;
    text-align: center;
}




